/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6 août 2016, 15:46:09
    Author     : ETEKA
*/

/*@import url(https://fonts.googleapis.com/css?family=Poppins+Light:300,400);*/
/*@import url('https://rsms.me/inter/inter.css');*/
@import url('../plugins/line-icons/css/simple-line-icons.css');
@import url('./svg-icon.css');


body{
    /* background: url(assets/app/bg-1.jpg) #f5f5f5 10% 20% no-repeat fixed;
     background-size: 100% 100%;
    font-family:"Raleway","Source Sans Pros",arial,sans-serif;*/
    color: #51626a;
    /*font-family: Whitney SSm A,Whitney SSm B,sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    */font-size: 150%;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    /*background-color: #eef1f7;
    background-color: #f5f5f5;*/

}
.nav > li > a:hover, .nav > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background: none !important;
}
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
a{
    color:#3367d6;/*#4582EC*/
    color: #244157;
    color:#0366d6;
    color: #4160a3;

}
a:hover{color:#0366d6;}
.text-info-1{color:#0366d6;}
.text-info-2{color:#0366d6;}
body{
    /*min-height: 350px;*/
    font-size: 16px;
    font-family: 'HelveticaNeue-Thin', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

:placeholder{color: red}
#search-input input::-webkit-input-placeholder
{color:red}
#search-input input::-moz-placeholder
{color:red}
#search-input input:-ms-input-placeholder
{color:red}
#user-ap-name{
    max-width: 120px;
    text-overflow: ellipsis;
    text-overflow: hidden   ;
    white-space: nowrap;
    overflow: hidden;
}
.cadre{
    margin: 15px auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    border:1px solid #dddddd;

}
.cadre-transparent{
    background: rgba(242,240,240,.87);
}
#search-input.form-control::-moz-placeholder{color:#cccccc;opacity:1}
#search-input.form-control:-ms-input-placeholder{color:#cccccc}
#search-input.form-control::-webkit-input-placeholder{color:#cccccc}
.minh{min-height: 550px;}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{margin-left: -5px;}
nav.navbar.navbar-headers.navbar-static-top.navbar-standard1{margin-bottom: 0}
.bg-white-std{background: #ffffff;border-bottom: 1px solid #dddddd}
.line-std2{background: #ffffff;border-bottom: 1px solid #D0D1D5;height: 46px;}
.old-bg{background:  #fbfbfb 10% 20% no-repeat fixed;background-size: 100% 100%;}

#login-cover{
    min-height: 260px;
}



#menupr{max-width: 250px;}
ul.alert li,ul.message li{
    list-style-type: none;
}
body.notfixed-body.bgkea2{top:0!important}
.alert,.message{
    padding: 12px;
    margin-bottom: 10px;
    background: #fff;
    border:0px solid #eee;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    font-size: small;
}
.headermenu{position: absolute;top:0px;z-index: 5000;width: 100%}

.message.message-success{
    border-left: 4px solid #08aa2b;
    background-color: aliceblue;
}
.invalid-feedback {
    font-size: x-small;
    font-weight: 100;
    color: #dd3d36;
}
.alert-danger,.message.message-error,.message.message-danger{
    border-left: 4px solid #dd3d36;
    background-color: #fff4ec;
}
.alert .close, .alert-dismissible .close{
    right: 0;
    top:-8px;
}
.alert-info,.message.message-info{
    border-left: 4px solid #1b809e;
    background-color: #d5e8f9;
}
.alert-default,.message.message-default{
    border-left: 4px solid #777;
}
.alert-warning,.message.message-warning{
    border-left: 4px solid #e89c30;
    background-color: #fdf6c1;
}
.alert-success,.message.message-success{
    border-left: 4px solid #0DB22F;
    background: #ebfced;
}



.copyright{
    background: #162835;
    padding: 25px 0 0px 0;
    color: #ffffff;
}
.copyright-light {
    background: #ffffff;
    padding: 25px 0 10px 0;
    border-top: 1px solid #DBE7EE ;
}

.footer-cover{
    z-index: 10000;
}
.footer-socials{font-size: 22px;}
.interactive-slider-v2 {
    z-index: 1;
    padding: 160px 0;
    position: relative;
    text-align: center;
    background: url(../app/kea-software-home-bg.jpg)  #fbfbfb no-repeat;
    background-size: cover;
    background-position: center center;

}
.head-nav-standard-cover{
    min-height: 150px;
}

.head-nav-standard{
    margin-top: 0px;
    padding: 40px 0px 0px;
    border-width: 0;
    /*  background-color: #f5f5f5;
     font-weight: 100;

     border-top:2px solid #d9dde0;
     border-bottom:1px solid #d9dde0;
      background: url(http://images.apple.com/global/elements/productbmy-rowser/nav_bg.png) no-repeat 0 0;
 background: -webkit-gradient(linear, left bottom, left top, from(rgba(223,223,223,1)), color-stop(66%, rgba(242,242,242,1)), color-stop(90%, rgba(242,242,242,1)), color-stop(93%, rgba(230,230,230,1)), color-stop(96%, rgba(210,210,210,1)), to(rgba(140,140,140,1)));
 background: -webkit-linear-gradient(bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(210,210,210,1) 96%, rgba(140,140,140,1) 100%);
 background: -moz-linear-gradient(bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(210,210,210,1) 96%, rgba(140,140,140,1) 100%);
 background: -o-linear-gradient(bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(210,210,210,1) 96%, rgba(140,140,140,1) 100%);
 background: linear-gradient(bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(210,210,210,1) 96%, rgba(140,140,140,1) 100%);
    */
}
.head-nav-standard .nav-tabs > li > a{border-radius:0;color:#666666;font-size: 15px; }
/*
.head-nav-standard .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border: 0px solid #46a9ff;
    background: #ffffff;
    margin-bottom: 0;
}*/
.head-nav-standard .nav-tabs > li.active > a{color: #222;    margin: 1px 0 -0px 0}
.imu-body-action-cover{
    min-height: 500px;

}
#imu-left-menu-coverNON{
    position: absolute;
    left:0;
    background-color: #f4f4f4;
    top:5px;
    width: 300px;
    position: absolute;
    top: 0px;
    right: auto;
    bottom: 0px;
    left: 0px;
    height: auto;
    overflow: auto;
    color: #f4f4f4;
    width: 214px;
}
.imu-left-menu-cover{
    /*background-color: #d9dde0;*/
    min-height: 500px;
    border-right: 1px solid #dedede;
    padding: 15px 0px;

}
.imu-left-menu-cover,.imu-left-menu-cover a{
    color: #6b6b6b;
}
.imu-left-menu-cover ul.imu-list >li:hover,.imu-left-menu-cover ul.imu-list >li.active{
    text-decoration: none;
    background-color: #46a9ff;
    border-top: 0px solid #ddd;
    color: #ffffff;
    margin-right: -1px;
}
.imu-left-menu-cover ul.imu-list >li:hover a,.imu-left-menu-cover ul.imu-list >li.active a{color:#ffffff;text-decoration: none;}
.imu-left-menu-cover ul.imu-list >li{
    padding: 8px 20px ;
    font-size: 16px;
}
.imu-left-menu-cover label{
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 10px;
    color: #d2d2d2
}
.navbar-default{
    /*         background: url(assets/app/bg.png)  #000 repeat-x ;
             background-size:  auto 60px;*/
}
.interactive-slider-v2 h3 {
    /*color:#ffbf00;*/
    color: #ffffff;
    font-weight: bold;
    text-shadow:0 1px 2px #555;
}
.interactive-slider-v2 h1 {
    color: #2196f3;
    font-size: 70px;
    text-shadow:0 2px 2px #111;
    line-height: 80px;
    /*text-transform: uppercase;*/
}
.footer a{
    color:#ffffff;
    font-weight: 100;
}


.text-form0{
    font-size: 15px;
    font-weight: 100;
}
.text-form1{
    font-size: 30px;
    font-weight: 400;
}
#register_resume{
    font-size: 40%;
    background: red;
}
.text-xs{font-size: 11px;}
.rond0{border-radius: 0}



.form-signin
{
    max-width: 400px;
    padding:10px 15px 10px;
    margin: 0 auto;
    /*background: #fff;
    border:1px solid #ececec;*/
    /*box-shadow: 0 2px 4px #ddd;*/
    /*box-shadow: 0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);*/

}
.w50pc{width: 50%}

.login-title
{
    color: #555;
    font-size: 25px;
    font-weight: 400;
    display: block;
    font-family:'Raleway',"Lato", "Open Sans Light",'Open Sans',"Segoe UI";
}
.opens{
    font-family: "Open Sans Light",'Open Sans',"Segoe UI";
}
#login-wall{
    /*border:1px solid #ddd;*/
    padding-top: 30px;
    /*margin-top: 30px;*/
    margin-bottom: 25px;


}
.light{font-family: 'Raleway',"Open Sans Light",'Open Sans',"Segoe UI";}
.navbar-default .navbar-brand{font-size: 25px;color:#000;}
.profile-img
{
    width: 116px;
    height: 116px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 7px solid rgba(255,255,255,.4);
    border: 7px solid #fff;
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0 0 4px #999;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.divider-line
{
    margin: 8px 0;
    border-width: 0;
    border-bottom: 1px solid #eeeeee;
}
a.glyphicon .icone-smart,.m{
    padding: 5px 8px;
    border-radius: 3px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    color: #00f255;
}
.avatar-menu{
    border-radius: 0 0 5px 5px;
    margin-top: 14px;
    border: 1px solid #ddd;
    border-top: 0px solid #ddd;
    margin-top: 9px;
    max-width: 220px;
    overflow: hidden;
}
.dropdown.dropdown-avatar{margin-top: 5px;}
@media screen and (min-width: 768px){
    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -2px !important;
        border-radius: 0 0 3px 3px;
    }
    .modal-dialog {
        width: 500px;
    }
}
.menu-user-block .avatar img{
    width: 37px;
    height: 37px;
    background-color: #eee;
    border-color: #dfe4ed;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 500px;
    border-radius: 500px;
}
.keamain{min-height: 400px;padding-bottom: 0px}
.keawell{
    background: none;
    border-radius: 0px;
    /*border:1px solid #e7e7e7;*/
    /*padding: 10px 0;*/
    /*margin:0px 0 20px;*/
    background: #fff;
    border-bottom-width:0px;
}
.bgkea{background: /*#0070ba*/#414a4c}
.bgkea2{background-color: #607d8b}
.bgkea3{background: #1770b8;}
.bgkea1{background-color: #303439;color: #eee; }
.keafoot{background-color:/*001F4B*/ #414a4c;position:relative;color: #eee;margin-top:0px;z-index:2000;padding: 10px 20px auto;border-top: 0px solid #eee;}
.bge{background-color: #eee;}
.bgsec1,.bgsilver{background: #f7fafc;}//#F3F4F7
.bgsec2,.bgsilver2{background: #F3F4F7;}
.brd{border-right: 1px solid #dddddd;}
.bld{border-left: 1px solid #dddddd;}
.btd{border-top: 1px solid #dddddd;}
.bbd{border-bottom: 1px solid #dddddd;}
.no-border{border-width: 0 !important}
.bge7{background-color: #e7e7e7}
.bordertopc{border-top: 1px solid #ddd;margin-top: -1px;}
.no-bg{background: none; border-width: 0}
.bgf5{
    background-color: #f5f5f5;
    /*border: 1px solid #eee;*/
    /*border-radius: 3px;*/
}
.bgfc{background: #fcfcfc;}
.bgf3{
    background: #f3f4ff;
}
.bgf{background: #fff;}
.bgfd{
    background: #fdfdfd
}
.bgf4{background: #edeff3}
.bge9{background: #E9EBEE}
.bgf44{background: #f4f4f4}
.panel{margin-bottom: 0; border-radius: 0}
.main-body{padding: 20px 0;min-height: 450px;line-height: 150%;margin-bottom: 0 !important}
.bgf0{background-color: #f0f0f0}
.bgf8{background-color: #f8f8f8}
.fixed-body{margin-top: 60px;}
.list-register{
    /*list-style-image: url("../../assets/app/bg1.jpg");*/
}
/*.container{max-width: 1100px;}*/
.bgdegrade1{

    background: #fff;

    background-color: #ffffff;
    background-image: -moz-linear-gradient(top,#ffffff,#f3f3f3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f3f3f3));
    background-image: -webkit-linear-gradient(top,#ffffff,#f3f3f3);
    background-image: -o-linear-gradient(top,#ffffff,#f3f3f3);
    background-image: linear-gradient(top,to bottom,#ffffff,#f3f3f3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    background: #eee;

}
.bgfb{
    background: #fbfbfb;
    background: rgba(255,255,255,1.92);
    font-size: 90%;
    border: 1px solid #ccc;
}
.btn.btn-primary,.btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #1770b8;
    border-color: #1770b8;
}
.btn-default{
    color: #2f3439;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}
.btn-default2 {
    color: #2f3439;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#f2f8ff,#f3f3f3 90%);
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}
.btn.sbtn-btn-r{
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;

  border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}
.sbtn-btn-info{
  background: #fff;

}
.account-wall{
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border:0px solid #303439;
}
.light{
    font-family: "Open Sans Light",'Open Sans',"Segoe UI";
    font-weight: 100;
}.white{color: #ffffff}
#langdiv{width: 150px;margin-top: 12px;overflow: hidden;background: none;}
#langdiv a{font-size: 10px !important;color: #ffffff}
#langdiv div{background: none !important;border:0;}
#langdiv>div{margin-left: -20px;}
.bgse{top: 0 !important}
.goog-te-banner-frame{position:fixed;display: none !important;height: 0px !important;}
a.goog-te-menu-value span{color:white !important}
.welcom-bg{background: url("../app/kea-welcom-bg.jpg") no-repeat; background-size: auto}
.text-white-on-bg,.text-white-on-bg *{
    color: #ffffff !important;
    text-shadow: 0 1px 1px #000;
}
@media (min-width: 769px) {
    /*Différent de tablette*/
    .huge1{
        font-size: 400%;
    }
    .icon-huge2{
        font-size: 500%;
    }
    #user-menu{
        box-shadow: 0 4px 8px rgba(0,0,0,.15);
        box-shadow: 0 4px 8px rgba(0,0,0,.15);
        box-shadow: 0 4px 8px rgba(0,0,0,.15);
    }
    #user-menu::before{
        content: '';
        display: block;
        position: absolute;
        bottom: -7px;
        margin-left: 30%;
        z-index: 5000;
        margin-left: calc(40% +30px);
        border: 10px solid transparent;
        border-bottom-color: #f3f6f8;
        /*background: red;*/
        top:0;
        height:20px;
        margin-top:-20px;
    }
    *, :after, :before {
        /*box-sizing: inherit;*/
    }
    /*.navbar-nav > li > a {
        padding: 18px 10px ;
        margin-top: 0px;
    }*/
    .navbar-nav > li > a:hover{
        background: none !important;
        color: #D3DDEE;
    }
    #app-layout {
        top: 0 !important;
    }
    .hpad10{
        padding: 10px 0;
    }
    .position-absolute{position: absolute !important}
    .position-fixed{position: fixed !important}
    .position-static{position: static !important}
    .R0{right: 0}
    .fixefooter{
        position: fixed;
        left: 0;
        top: 93%;
        background:url("../app/gradient-noir-1.png") 0% 0% rgba(0,0,0,.3);
        width: 100%;
        font-size: 14px;
        min-height: 40px    ;
    }
    ::selection {
        text-shadow: none;
        background: #cbeafb;
    }
    .firstcontent-home{

        min-height: 450px;
    }
    .fixed-home-content{
        position: absolute;
        top: 20%;
        width: 100%;
    }

    .huge2{
        font-size: 220%;
    }

    .huge-img{
        font-size: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.wizard .tab-pane  legend {padding-top:5px;margin: 0}
.wizard .tab-pane {
    position: relative;
    padding: 10px;
}

.wizard b {
    margin-top: 0;
}
@media screen and (max-width: 600px) {
    /*******************************************
    *Footer
    ********************************************/
    .copyright-light .list-inline > li {
        display: inline-block;

        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 15px;
        border-top: 0px dotted  #ccc;
    }
    .card-body{padding: 15px !important;}
    .pad0-xs{padding: 0 !important;}
    .text-center-xs,.text-xs-center{
      text-align: center;
    }
    .mtop-xs-10{margin-top: 10px;}
    .text-xs-left{text-align: left !important;}
    .register-card-body{
      padding: 0 !important;
    }
  /*  div{
      transition: 2s ease padding;
    }*/
    .login-card{
        margin: 50px auto 20px !important;
        padding: 0px;
        border-radius: 0px;
        max-width: auto;
        padding:  0 !important;
    }
    /*******************************************/
}
    @media screen and (max-width: 768px) {

    .fixed-home-content{
        position: absolute;
        margin-top: 7%;
        width: 100%;
    }
    #foollist li{
        display: block;
        padding: 5px 15px;
        text-align: left;
        border-bottom:0px solid #f9f9f9;
    }
    #homekeaimg{
        max-height: 60px;
        margin: 0;
    }
    .login-card{
        padding-top: 10px !important;
    }
    .smcenter{text-align: center;}
    .wizard {
        height: auto !important;
    }
    .navbar-brand img{height: 20px;margin-top: -5px}

    .account-wall-home
    {
        right: 15px;
        top: 0px;
    }
    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }


    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .huge1{
        font-size: 220%;
    }
    .huge2{
        font-size: 120%;
    }
    .fixed-home-content{
        position: absolute;
        top: 4%;
        width: 100%;
        text-align: center;
    }
    .fixefooter{
        position: absolute;
        left: 0;
        top: 107%;
        /*background: #0072bb;*/
        width: auto;
        font-size: 14px;
        min-height: 40px    ;
    }

}
.leftlogin a{
    color: #2196f3;
}
.leftlogin{
    border-radius: 5px 0 0 5px;

}
.login-inner{height: 230px;}
#login-btn{
    position: absolute;
    left: 0;
    margin-top: -54px;
    background: none;
    border-width: 0;
    font-size: 25px;
    color: #999;
    left: 400px;
    z-index: 100;
    outline: none;
}

.label_mini{
    color: #999999;
}
.bold,
.text-bold {
    font-weight: 600!important;
}
.fnormal{font-weight: normal !important;}
.bg1{ background: #c8e8fb;}
.dbg{ background: url(../app/bg.jpg)  #e3f0f8;
      background-size: 100% auto;
}

.bg2{ background: #c9f7c4;}
.bg3{
    background: #0072bb;
    background: url(../app/bg-top.jpg) no-repeat #0072bb;
    color: #f2f2f2;
    text-shadow: 0 1px 2px #222
}
.bgwhite{ background: #fff;}
.sm{

    padding: 20px 0;
}
.sm-color1{
    color: #6794bb;
}
.imu-icone{
    font-size: 45px;
    border-radius: 100%;
    padding: 30px;
    background: #fff;
    border:1px solid #ccc;
}
.form-body{
    padding: 10px 20px 35px;margin: auto;
    margin-bottom: 0px;
    border-right: 0px solid #e7e7e7;
    /*border: 12px solid #b8bed2;
    border-top-width: 20px;
    border-bottom-width: 25px;
    border-radius: 10px;
    margin-top: 32px;*/
    margin-bottom: 0px;

    /*box-shadow: 0 1px 10px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.2);
    */
}
.top-head-master{
    padding: 20px;
}
.synttext{
    color: #444444;
}
.rotate90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
a.nodecoration, .nodecoration a, .nodecoration{text-decoration: none;}
.w150{width: 150px;}
.m15_0{margin:15px 0;}

.pt0{padding-top: 0;}
.pl0{padding-left: 0;}
.pr0{padding-right: 0;}
.pr15{padding-right: 15px;}
.pb0{padding-bottom: 0;}
.bBot0{border-bottom-width: 0px !important;}
.pad05{padding: 0 5px}

.pad5{padding: 5px}
.pad5_10{padding:5px 10px;}
.pad0_15{padding:0 15px}
.pad0_20{padding:0 20px}
.pad10{padding: 10px}
*.text-white{color: #ffffff;}
.pad10_0{padding: 10px 0}
.borderLeftc{border-left: 1px solid #cccccc}
.borderLeftd{border-left: 1px solid #dddddd}
.borderRightD{border-right: 1px solid #dddddd}
.pad15{padding: 15px}
.pad15_0{padding: 15px 0}
.area{resize: none !important;}
.pad20{padding: 20px}
.pad30{padding: 30px}
.pad15_0{padding: 15px 0}
.pad30_0{padding: 30px 0}
.minw100{min-width: 100px;}
.minw150{min-width: 150px;}
.keamain p{line-height: 180%}
.h30{height: 30px;}
.h150{height: 150px;}
.h100{height: 100px;}
.h20{height: 20px;}
.hmin30{min-height: 30px}
.minh400{min-height: 400px}
.m0{margin: 0}
.m05{margin: 0 5px}
.pad5{padding: 5px}
.pad50{padding: 5px 0;}
.select2-container--default .select2-selection--single{
    border:1px solid #e0dede;
    border-radius: 0px;
    height: 34px;
    /*    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    box-shadow: none;
}
.form-group{
    margin-bottom: 10px !important;
}
.form-control{
    /*height: 30px;*/
    box-shadow: 0;
    box-shadow: none;
    border: 1px solid #e0dede;
}
.form-control,.datepicker{
    /*border-radius: 0px;
    padding: 6px 10px;*/
    margin-bottom: 2px;
    margin-top: 0
}
.form-control.selectisize2{
    height: auto;
    min-height: px;
    background-color: none;
    border-width: 0px;
    padding: 0px;
}
.form-control{
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8);
    background-color: #fff;

   /* background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);*/
}
.text-sm{font-size: 13px}
.help-block{font-size: 10px;margin:0;padding:2px 0 0;}
.mhead{
    color: #90949C;
    font-weight: 500;
}
.arial{font-family: 'Arial',sans-serif}
.wizard label.text-xs{
    color: #989898;
}
.wizard .form-control{border-radius: 0px !important;}
.fhead{
    color: #787D7F;
    background: #3367d6;
    background: #fdfdff;
    /*border: 1px solid #e7e7e7;*/
    padding: 8px 15px;
    /* color: #fff; */
    display: block;
    font-weight: 500;
    /*margin-top: 10px !important;*/
    border-bottom-width: 0;
}

.navbar-standard2{
    background: #244157;
    background-size: auto 110% ;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom:0px;
    padding-bottom:2px;
    max-height: 54px;
    z-index: 100;
}
.navbar-standard2 .nav>li>a{
    color: mintcream;
}
.navbar-standard2 .nav>li>a svg{
    fill: mintcream;
}
.navbar-standard1 .dropdown-menu > li > a,.navbar-standard1 .dropdown-menu  li  a{
    padding: 5px 20px;
}
.navbar-standard1{
    background: #ffffff !important;
    border-bottom: 0px solid #DFDFDF;
    /*line-height: 66px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.043);*/
    position: relative;
    z-index: 1000;
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #e5eff5;
    background: hsla(0,0%,100%,.95);
}

.navbar-standard1 .nav li a,.navbar-standard1 .nav{
    color: #64757d;
}
#app-navbar-collapse .navbar-right{
    margin-top: 0px;
    max-height: 55px;
}
button#search-add-btn{
    background: #414a4c;
    background: #f3f3f4;
    padding: 2px 10px;
    outline: none;
    color: #959595;
}
#search-input-cover{
    /* height: 30px;*/
    max-width: 100%;
    width: 100%;
    /*padding: 3px 0px 3px 3px;*/
    /* margin-top: 5px;*/
    /*    background: #2850a7;*/
    border-radius: 3px;
    margin: 12px 0 0 0;
}
.nav-tabs,.nav-justified > li > a{border-width:0;border-bottom: 0px solid #ffffff;}
#user-menu,#user-menu a{color: #333333;}
#user-menu .dropdown-header{
    font-size: 11px;
    color: #9c9c9c;
}
ul#user-menu::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    left: calc(50% - 10px);
    border: 10px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.99815)
}
#user-menu .dropdown-menu a span{
    color: #888888;
}
#user-menu  .divider{
    margin: 0;
}
#user-menu li>a:hover
{
    background:#edeff3;
}
#user-menu{
    min-width: 220px;
    border-radius:0 0 3px 3px;
    /*top:44px;*/
    border: 0px solid #ffffff;
}
.menu-wrap{
    width: 20%;
    float: left;
    color: #333333;
}
.display-name{padding: 0;margin: 0}
.display-name a{font-weight: 400;color: #2850a7;text-overflow:ellipsis;display: block;text-decoration: none;text-align: center;margin: 0;font-size: 15px;white-space: nowrap}
/*.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: #ffffff;color: #333333;

}*/
/*
#Rnavbar .nav > li > a:hover, .nav > li > a:focus{
    /*background: #2850a7;
    background: none;
    /*color: #fefefe;
    color: #ffffff;

}*/
.text-w{color: #dddddd}
#head-tabs.nav > li > a:hover, #head-tabs.nav > li > a:focus,#head-tabs.nav > li.active> a{
    border-radius:0px;
    margin: auto;
    background: rgba(255,255,255,.48);
}

#head-tabs.nav>li.active {
    border-bottom: 3px solid #3367d6
}
ul.list-inline-point{
    padding: 0px;
    margin: 5px 0 10px;
}
    ul.list-inline-point li{
    list-style-type: disc;
    display: inline;
    padding-right:5px;
}
#head-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Arial',sans-serif;
    color:#444444;
}
#head-tabs{
    margin: auto;
}
#search-input::placeholder{color: #e7e7e7}
#search-input:focus{background: #fff;color: #444444}
#setting-search-btn,.search_btn{

    color: #888889;
    text-decoration: none;
    line-height: 15px;
}
#setting-search-btn{
    background: #ffffff;
    border: 1px solid #ffffff;
}
.search_btn{
    background: #f3f3f4;
    border: 1px solid #f3f3f4;
}
#search_btn{
    display: contents;
    float: left;
    background-color: none;
    border:none;
}
#search-input{

    /*
     font-size: 17px;
      background: none;
      margin-top: 3px;
    */
    border-radius:  3px  3px;
    /*background: #fff;
    background: #f5f5f5;*/
    outline: none;
    text-align: center;
    width:100%;

    border-width: 0;
    box-shadow: none;;
    /*color: #fefefe;*/
}

.navbar-default1 .navbar-nav > li > a{color:#f0f0f0;text-shadow:0 1px 1px #111111;font-weight: 100;}
#page_header{
    /*border-bottom: 1px solid #ddd;*/
    font-weight: 100;

}
.page-header{
    margin: 10px 0 20px;
}
.xs-menu a,.xs-menu {color: #fefefe;text-decoration: none;
                     padding: 9px 0px;}
.xs-menu{
    position: relative;
    float: right;
    padding: 9px 0px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
}
/*h1, h2, h3, h4, h5, h6 {
    font-family:'Raleway', 'Open Sans Light', sans-serif;
    font-weight: 300;
    margin: 0;
    margin: 9px 0 9px 0;

}*/
h1, h2, h3 {
    margin: 28px 0;
    margin: 1.075rem 0;
    font-weight: 100;
}
@media only screen and (min-width: 48rem){
    h1, h2, h3 {
        /* font-size: 42px;
         font-size: 2.625rem;*/
    }
}
.navbar-default{
    background:none;
    border-radius: 0;
    margin-bottom: 0;
    border-width: 0;
    /*border-top: 2px solid #0072bb;*/
    border-bottom-width: 0px;

}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control-login-first
{
    /*-moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;*/
    text-align: center;
}
.form-signin .form-control-login-end
{
    /* -moz-border-radius: 0 0 6px 6px ;
     -webkit-border-radius: 0 0 6px 6px ;
     border-radius: 0 0 6px 6px ;*/
    padding-right: 40px !important;
    text-align: center;

}
.form-signin .form-control-login
{
    position: relative;
    /* font-size: 16px;*/
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: -0.0235em;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input:hover,.form-signin input:focus{
    box-shadow: none;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tshadow{text-shadow: 0 1px 1px #000;}
.black{color: black}
.btn-success{background:#0db21e;border-color: #0db21e }
.gradientgw{
    background:-moz-linear-gradient(bottom,#fff,#dedede);
    background:-webkit-gradient(linear,left bottom,left top,from(#fff),to(#dedede));
    background:-webkit-gradient(linear,left bottom,left top,from(#fff),to(#dedede));
    background:linear-gradient(bottom,#ffffff,#dedede);

}
.gradientB{
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.borderc{border:1px solid #ccc;}
.border-leftd{border: 1px solid #dddddd !important;background: #0d0}
.border-rightd{border-left: 1px solid #dddddd}
.bordere{border:1px solid #eeeeee;}
.border_sec,.sec_border{border:1px solid #DBE7EE !important}
.borderd{border:1px solid #dddddd;}
.shadow1{
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}.shadow2{
    -moz-box-shadow: 0px 2px 2px #e0d4d4;
    -webkit-box-shadow: 0px 2px 2px #e0d4d4;
    box-shadow: 0 0 10px #e0d4d4;
}
.shadow3{
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.05), 0 3px 10px 0 rgba(0,0,0,.01), 0 18px 30px -10px rgba(75,82,94,.099);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.05), 0 3px 10px 0 rgba(0,0,0,.01), 0 18px 30px -10px rgba(75,82,94,.099);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05), 0 3px 10px 0 rgba(0,0,0,.01), 0 18px 30px -10px rgba(75,82,94,.099);
}
.shadpanel{
    background: url(../app/bg/bg-shadow.png) no-repeat left top;
}
.account-wall-home
{
    /*        margin-top: 20px;*/
    background-color: #ffffff;
    padding: 10px;
    margin: auto;


    border-radius: 5px;

    max-width: 350px;
    right: 12%;
    top: 100px;
    bottom:0;
    z-index:1000;
}
.login-title
{
    color: #555;
    font-size: 25px;
    font-weight: 400;
    display: block;
    font-family: "Open Sans Light",'Open Sans',"Segoe UI";

}
#user-menu img.avatar-user{
    border: 0px solid #eeeeee;border-radius: 50%;height: 60px;width: 60px;margin: auto;

    -moz-box-shadow: -1px 2px 5px #e6e6e6;
    -webkit-box-shadow: -1px 2px 5px #e6e6e6;
    box-shadow: -1px 2px 5px #e6e6e6;
    padding: 5px;
}
.profile-img
{
    width: 116px;
    height: 116px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 7px solid #fff;
    border: 7px solid rgba(255,255,255,.4);
    box-shadow: 0 0 4px #999;
}
.navbar-toggle .icon-bar,.icon-bar{background: white !important;}
.navbar-brand img{height: 30px;margin-top: -5px}
.mtop0{margin-top: 0;}
.mtop-5{margin-top: -5px;}
.mtop-3{margin-top: -3px;}
.mtop5{margin-top: 5px;}
.mtop10{margin-top: 10px;}
.mtop15{margin-top: 15px;}
.mtop20{margin-top: 20px;}
.mtop25{margin-top: 25px;}
.mtop30{margin-top: 30px;}
.mtop40{margin-top: 40px;}
.mtop50{margin-top: 50px;}
.mtop60{margin-top: 60px;}

.mbottom0{margin-bottom: 0px !important;}
.mbottom5{margin-bottom: 5px;}
.mbottom10{margin-bottom: 10px;}
.mbottom15{margin-bottom: 15px;}
.mbottom20{margin-bottom: 20px;}
.mbottom30{margin-bottom: 30px;}
.mbottom40{margin-bottom: 40px;}
.mbottom50{margin-bottom: 50px;}
.mtopfixed{margin-top:0.55px;}
.rond0033{border-radius:0 0 3px 3px;}

.rond3{border-radius: 3px;}
.rond5{border-radius: 5px;}
.rond10{border-radius: 10px;}
.rond30{border-radius: 30px;}
.rond100{border-radius: 60px;}
.mauto{margin: auto}
.nowrap{white-space:nowrap;text-overflow:ellipsis;overflow: hidden}
/******************************************************/

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.carousel-fade .carousel-inner .item {
    max-height:  670px;
}
.carousel-fade .carousel-inner .item img{
    width: 100%;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    /*height: 100%;*/
}
#carousel{position:absolute;padding-top: 45px;background:#aaa;height: 650px }
/******************************************************/
/*****MENU DROPDOWN*****/


.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
.dropdown-menu.dropdown-menu-right{
    border: 1px solid #ffffff;
    -moz-box-shadow: 1px 6px 8px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 1px 6px 8px rgba(0, 0, 0, .175);
    box-shadow: 1px 6px 8px rgba(0, 0, 0, .175);
}
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.dropdown-menu::after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
/*Datepickers*/
.datepicker-days .old{cursor: pointer;}
.logo-hospital{
    height: 50px;
    max-width: 100%;
    border: 1px solid #ddd;
    margin: auto;
    background: #fff;
    border-radius: 50%;
}
.hpanel{
    height: 90px;
}
.hpanel:hover{background: #f9f9f9;transition: ease all .2s}
/********************************************************/
.imu-profil{
    height: 120px;
    background: #ffffff;
    border:#ddd 0px solid;
    border-top-width: 0px;
    margin-top: 0px;
    /*border-radius: 0 0 3px 3px;*/
    /*background-color: #d5e3ff !important;*/
    background-color: #414a4c ;
    /*border-color: #2dc3e8;*/
    position: relative;
    padding: 32px 16px 64px;
    background: url("../app/kea-software-home-bg.jpg") 50% 100% #2850a7;/*#1e3953*/
}
.list-line{
    padding:  8px 15px 5px;
    border-bottom: 1px dotted #eee;
}
#imu-profil-cover{
    height: 200px;
    background: #fff;
    margin-bottom: 0px;
    border:0px solid #eee;
    border-top:0px solid #eee;
    background: #d6d6d6;
    background: #f5f5f5;
}
.img-responsive{max-width: 100%;}
.img-profil{
    width: 90px;
    height: 90px;
    margin-left: 45px;
    margin-top: -45px;
    border: 5px solid #fff;
    box-shadow: 0 0 8px #ddd
}
.cover-menu-profil>ul>li a{text-decoration: none;font-weight: 500}
.cover-menu-profil>ul>li.active,.cover-menu-profil>ul>li:hover{background: #f5f5f5;border-bottom: 2px solid #f5f5f5;}
.cover-menu-profil>ul>li.active{background: #f5f5f5;border-bottom: 2px solid #337ac0}
.cover-menu-profil>ul>li{
    line-height: 40px;
    font-size: 14px;

    /*float: left;*/
    /*display: block;*/
    /*margin-left: -5px;*/
    padding: 0px 10px 0 10px;
    border-right: 1px solid #fefefe;
}
.cover-menu-profil{
    background: #ffffff;
    padding: 0 5px ;
}
/********************************************************/
/*###########################################################
* PAGE INDEX IMU
*/
.icone-pad{
    padding: 0 10px 0 0;
}
.leftmenu.mpad>li {padding: 5px 10px;border-radius: 3px;}
.leftmenu.mpad>li a{
    color: inherit;
    /*padding: 10px ;*/
    font-size: 15px;
    /*color: #787878;*/
    color: #A3A3A1;
}
.leftmenu.mpad>li a:hover{
    /*background: rgba(255,255,255,.8);*/
    color: #003399;
}
.shad1{
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    /*padding: 10px;*/
    background: #ffffff;
    /*padding: 15px 0;*/
    margin-top: 5px;
    border-radius: 2px;
}
#u_pimage{
    height: 70px;
    width: 70px;
    margin: auto;
    border: 4px solid #eee;
}
.ronde{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
span.glyphicon{
    padding: 4px 6px;
}
#menu_card span.glyphicon{
    color: #ACB0BA;
}
.list-group .list-group-item a{
    color: #959699;
    text-decoration: none;
}
#menu_card .panel.panel-default{
    background: #ffffff;
    /*max-width: 350px;*/
    margin: auto;
}
#menu_card .list-group-item.active{
    background:#3367d6;
}
#menu_card .list-group-item.active a{
    color:#fff;
}
#menu_card .panel-default > .panel-heading{
    border-top-width:0px;
    border-bottom-width:0px;
}
.profil_header{
    padding: 15px 20px;
    /*background: #f3f4ff;*/
    min-height: 200px;
}
.ph-bg1{
    background: #797b89;
    color:#ffffff;
}
.profil_menu ul.dropdown-menu{
    border-width: 0px !important;
    -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, .175);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .175);}
.profil_menu .dropdown-menu > li > a,.m_menu .dropdown-menu > li > a{
    padding: 5px 15px;

}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #e9ebee;
}
.profil_menu  > li > a{
    color:#333333;
}
/*##############################################################
* POUR LA RECHERCHER SUPPERIEUR
*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    .pad0{padding: 0}
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
/*******************************/
.appfooter{
background: #15212a;
padding: 10px 0 30px;
}
.footnavbar{
    background: none;
    margin-top: 10px;
    border-bottom: 1px solid hsla(0,0%,100%,.11);
    margin-bottom: 25px;
}
.footheader{
    margin: 0 0 10px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}
.footlink-list li a{
    display: block;
    color: #6c838d;
    font-weight: 400;
    padding: 3px 0;
    min-width: 175px;
    letter-spacing: .2px;
}
.footlink-list li a:hover{ color: #e5eff5;text-decoration: none;}
.footnavbar ul.nav.navbar-nav.foot_menu a{font-weight: 500;}
.footnavbar ul.nav.navbar-nav.foot_menu a:hover{color: #10CF7F;text-decoration: none;}
.appfooter a{color: #ffffff;}
.color-b8, a.color-b8{color: #89b0cf;}
.color-b8:hover, a.color-b8:hover{color: #f7f7f7;}
.text-muted2{color: #e6e6e6;}
.text-danger{color:#e73a36}
a.text-muted2:hover{color: #ffffff;}
/*.nav > li > a:hover, .nav > li > a:focus{background-color: #ffffff;}*/
.nav-logo-middle img{
    max-width: 100%;
    height: 40px;
}
.login-margin{margin-top: 7%;}
.login-cover{
    padding-top: 4%;
    margin-bottom: 100px;
}
.lregister{
    padding:15px 0px 0;
    border-top: 1px solid #eeeeee;
}
.card-header {
    padding: 15px 30px;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}
.login-card{
    margin: 20px auto;
    padding: 30px 25px;
    background: #fff;
    border-radius: 8px;
    max-width: 380px;
    box-shadow: 0 0 1px rgba(0,0,0,.09), 0 2px 5px rgba(0,0,0,.03);
}
.pagination-wrapper{
    padding: 0 3%;
}
.pagination-wrapper .pagination .page-item{
    padding: 0;
    margin-right: 5px;
    display: inline-block;
}
.pagination-wrapper .pagination .page-item.active span{
   /* background-color: #51626a;
    border-color: #515151;*/
    background-color: #244157;
    border-color: #244157;
}
.btn-link:hover,.btn-link:active,.btn-link:focus{
    text-decoration:none;
    background-color: #f7fafc;
    border: 1px solid #fcfcfc;
}
.pagination-wrapper .pagination .page-item span,
.pagination-wrapper .pagination .page-item a
{
    border-radius: 5px;

}
.sec_card{
    min-height:140px;
    margin-bottom:15px;

}

.card,.sec_card{
    background-color: #fff;
    border-radius: .75rem;
    border: 1px solid #d8dee2;
    box-shadow: 0px 1px 3px #dedede;
    /*border:none;
    -webkit-box-shadow: 0 0 0 1px rgba(61,70,79,.05), 0 1px 3px 0 rgba(61,70,79,.15);
    box-shadow: 0 0 0 1px rgba(61,70,79,.05), 0 1px 3px 0 rgba(61,70,79,.15);
    box-shadow: 0 0 3px #eee; */

}
.card-body{
    padding:20px 30px;
    word-break: break-word;
}.sec_card:hover{
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.05), 0 3px 10px 0 rgba(0,0,0,.01), 0 18px 30px -10px rgba(75,82,94,.099);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.05), 0 3px 10px 0 rgba(0,0,0,.01), 0 18px 30px -10px rgba(75,82,94,.099);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.05), 0 3px 10px 0 rgba(0,0,0,.01), 0 18px 30px -10px rgba(75,82,94,.099);

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.card-body-sm{padding:15px 20px 20px}
.card-body-sm .media{
    min-height: 70px;
    word-break: break-word;
}
.media-circle{
    border-radius: 50%;
}
.media-heading a{text-decoration: none;}
  .title-svg-icon svg {
    margin-top: -4px;
    /*fill: #4160a3;*/

}
.start-yellow svg{
    fill:#FFC107;
}
.btn a.btn{border-radius: 10px;border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 400;

    background-color: #fff;
    border-color: #e5e5e5;
}
.btn.facebook{
    background-color: #3B5998;
    color: white;
}
.btn.linkedin{
    background-color: rgb(0, 119, 181);
    color: white;
}
.btn.twitter{
    background-color: #55ACEE;
    color: white;
}
.btn.github{
    background-color: #333333;
    color: white;
}
.btn.pinterest{
    background-color: #d90000;
    color: white;
}
a.btn-auth img{
    width: 1.425rem;
    height: 1.425rem;
    margin-right: 16px;
    vertical-align: middle;
    border-style: none;
    margin-top: -5px;
}
/**********************************************************/
.sub_main_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 0;
    min-height: 40px;
}
.model_name a{text-decoration: none;color: #434349;}
.model_name{
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 1.62rem;
    font-weight: 500;
    color: #434349;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.separateur-v{
    width: 1px;
    height: 22px;
    margin:0 10px;
    background:#dbdce7;
}
.core_searchgroup{
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.form_searchgroup{
    margin-left: 20px!important;
}
.form_searchgroup .inner-search
{
    width: 175px;
display: inline-block;
}
.form_searchgroup .inner-search .form-control:focus
{
    background:#FFFFFF;
    color:#454647;
    -webkit-box-shadow:0 0 3px inset #dededede;
    -moz-box-shadow:0 0 3px inset #dededede;
    box-shadow:0 0 3px inset #dededede;
}
.form_searchgroup .inner-search .form-control
{
    background: #eaecf2;
    border-color: #eaecf2!important;
    font-size: 1.19rem;
    height: 33px;
    padding-right: 2.8rem;
}


.form_searchgroup .search_icon {
position: absolute;
height: 100%;
margin-left:145px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
top: 0px;
line-height:33px;
width: 3.2rem;

}
.svg-icon {
height: 23px;
width: 23px;
fill:#001122
}
.svg-icon-md{
    height: 16px;
    width: 16px;
}
.sm-btn-svg .svg-icon{
height: 16px;
width: 16px;
}
.btn-default  .svg-icon path{
    fill:#2f3439;

}
/************************************************
*ENTETE:   FAVORIS, CLASSEMENT:   AUTRES
*************************************************/

span.sec_icon>svg{
  height:22px;
}
.menu-profil>li{
  padding:5px 0;
  /*white-space:nowrap;*/
}

.foot-list-inline {
  display:block;
}
.foot-list-inline .sec_icon>svg{
  fill:#686f76;
  height:15px;
  /*padding:0px 5px;*/
}
.foot-list-inline a{
  color:#686f76;
  text-decoration:none;
  margin-right:8px;

}

#new-elmt>.sec_icon>svg{
  fill:#ffffff;
  height:10px;
}

.gutter-condensed {
  margin-right: -8px;
  margin-left: -8px;
}
.list-style-none {
  list-style: none!important;
}
.top_home_param_bloc{
  padding: 10px 0
}
/* Style the form - display items horizontally */
.form-control-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
input.is-invalid, .form-control.is-invalid , .is-invalid:focus{
    border: 1px solid #d22828 !important;
   /* color: #e63030;*/
}
/*
.form-control-xs{
  padding-bottom: 2px;
}*/
form-control-md{
    padding: 4px 10px 5px;
}
/***************************************************/
/****************************************************
/* GESTION:   PAGE SHOW BIENS;
*****************************************************/
#nav-show-bar{

    border-bottom:1px solid #DBE7EE;
}
#show-nav li{
    //padding:7px 12px 8px!important;
    font-size: 14px;
}
#show-nav li>a{
    padding: 8px 8px 7px;
    font-size: small;
}
#show-nav li>a:hover{
    border-width: 1px solid #ffffff;
    border-bottom: 1px solid #244157
}

#show-nav> li.active a{
    //border:1px solid #DBE7EE;
    border-bottom:0px solid #fff;
}
#main_show{
    margin-top: -41px;
    overflow: auto;
}
#show-bloc-left{
    margin-top: 5px;
}

.clear-line{
    display: block;
    height: 50px;
    width: 100%;
}
.stitle a:hover{
text-decoration: none;
color: #3367d6;

}
#show-nav li>a{
    color: #6c7293;
    font-weight: 400;
    font-size: small;
}
.stitle a{
    position: relative;
    min-height: 32px;
    font-size: 20px;
    color: #586069;
    font-weight: 500;
}
#showlistrow{
    padding:0 ;
}
#showlistrow>li{
    list-style: none;
    /* display: table;
    width: fit-content;

    height: fit-content;
    float: left;*/
}

    .sec_show_line_item:hover {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
    #showlistrow >li{
        padding: 5px;
    }
.sec_show_line_item {
    padding: 2rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;

    /*margin: 0.8rem 0;
   ackground-color: white;
   -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
   box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
   */
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.kt-portlet .kt-portlet__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
}
.sec_show_line_icon {
    display: block;
}
    .sec_show_line_subtitle {
    display: block;
    margin-top: 0.75rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #6c7293;
}
.sec_show_line_desc {
display: block;
font-size: 1.3rem;
color: #a7abc3;
}


.user-widget-mini{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px 5px 0 0;
    border-radius: 4px;
}
.user-widget-mini>img{
    width: 4rem;
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
}
.user-widget-mini-info{
    padding: 0 ;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}
@media only screen and (min-width:120px) {
    #nav-show-bar{
    min-height: 130px;
    }
}
@media only screen and (min-width: 768px) {
    #nav-show-bar{
    min-height: 160px;
    }
}
@media only screen and (max-width: 768px) {
    #nav-show-bar{
    min-height: 140px;
    }
    #main_show {
    margin-top: -42px;
    }
    #show-bloc-left{
    margin-top: 20px;
}
    .stitle a {
    font-size: inherit;
    font-weight: normal;
    }

}
@media only screen and (max-width: 600px)  {
    #nav-show-bar{
    min-height: 190px;
    }
    #main_show {
    margin-top: -42px;
    }
    #show-bloc-left{
    margin-top: 25px;
    }
    .lregister {
        padding: 25px 15px;
    }
    #showlistrow >li{
        padding: 5px 15px !important;
    }
    .btn-xs-block{
       display: block;
        width: 100%;
    }
}
/**********************************************************
* MENU RESPONSIVE
*/

.ibadge{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 8px;
    padding: 2px;
    text-align: center;
    line-height: 14px;
    font-weight: bold;
    margin-top: -5px;
    right: 5px;
    position: absolute;
}
.ibadge-danger{
    background: #e22d2d;
    color: white;
}
@media screen  and (max-width:768px) {
    #app-navbar-collapse{
        height: 52px;
        overflow: auto;
        padding: 0 ;
    }
    a.navbar-brand.light.pull-left {
        max-width: 80px;
        display: flex;
        overflow: hidden;
    }
    #topnavbar-cover {
       /* max-width: 320px;*/
        overflow: auto;
    }
    #app-navbar-collapse #main_nav{
        padding: 0;
        margin: 0;
        /*col-xs-12 col-sm-4  col-lg-4display: flex;*/
    }
    #app-navbar-collapse #main_nav>li{
    //float: left;
        display: inline-table;
    }
    #main_nav li>a{
        line-height: 10px;
    }


}
/****************************************************/
.line-bar{
  border-bottom: 1px solid #ddd;
  height: 14px;
  text-align: left;
}
.line-bar span.text{
  margin-top: -0px;
  padding: 5px 8px 5px 0 ;

}
.line-bar span.text::before,.scarect::before {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      border-left: .3em solid transparent;

  }
  .line-bar span.text::before,.scaret_r::before{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .nodecoration{
    text-decoration: none;
  }
  .loader {
    border: 8px solid #244157;/*#f3f3f3; /* Light grey */
    border-top: 8px solid #10CF7F;/*#3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
.turbolinks-progress-bar {
    height: 2px;
    background: #0db21e;
}
.cloader{
    /*background: #fff;
    border-radius: 3px;
    border:1px solid #cccccc;
    padding: 10px;*/
    margin-bottom: 20px;
    min-height: auto !important;
    padding: 10px;
}
.jscroll-inner{
    margin-bottom: 100px;
}


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*****************************************************/
.svg-icon g [fill] {
fill: #244157;
}
.right_main_menu{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding: 0;
right:0;
float:right;
position:absolute;
}
.profil_card,.m-card{
    border:1px solid #eaeaea;
}
.m-card .table-hover > tbody > tr:hover{
background: #f7fafc;
}
.m-card table.table th{
padding: 16px 10px;
cursor:pointer;
vertical-align: middle;
padding: 15px 10px;
font-size: 14px;
}
/*
.m-card .table  tr>td,
.m-card .table  tr>td
{
padding:10px;
}*/
.d-block{
    display: block;
    width: 100%;
    text-align: left;
}
.m-card .table > tbody > tr > th,
.mtable .table > thead > tr > th,
.m-card .table > thead > tr > th,
.m-card .table  tr,
.m-card .table > tbody + tbody,
.m-card .table > tbody > tr > td
{
border-bottom: 1px solid #f0f3ff;/* #e0e2ed;*/
}
.m-card,.m-card .table-responsive{min-height: 300px;}
/**********************************************************
*LOGIN SECURITAPEN ET REGISTER
* color1: #10CF7F
* color2: #4D5C6B
* color3: #244157
***********************************************************/
.sec_color0{
    color: #000000;
}
.sec_color1{
    color: #10CF7F
}
.sec_color2{
    color: #4D5C6B
}
.sec_color3{
    color: #244157
}
.btn-brand {
    cursor: pointer!important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 32px!important;
    line-height: 25px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.info_bien{
    border-top: 1px solid #e5e5e5;
    background: #f2f5f8;
}
.pcheck,.hcheck{display:none;}

.hnodecoration:hover{text-decoration: none;;}
.blist{
    padding: 0 10px;;
}
.btn.btn-brand-info {
    background-color: rgba(93,120,255,.1);
    color: #5d78ff;

}
 .dropdown>a.btn-icon{
    color:inherit;
}
.btn-bold{
    font-weight: bold;
}

.clear50{height: 50px;display: inline-block;}
.fs10{font-size: 10px;}.fs11{font-size: 11px;}.fs12{font-size: 12px;}.fs13{font-size: 13px;}.fs14{font-size: 14px;}
label{font-weight: 600;}
.btn.btn-primary{
    color: #fff;
    background-color: #244157;
    border-color: #244157;
    /*padding: 8px 15px 10px;*/
    font-weight: 600;
}
.btn-outline-primary{
    border-color: #1058d7;
    color: #1058d7;
}
.btn-outline-danger{
    border-color: #d43f3a;
    color: #d43f3a;
}
.sec_bg-info{
    /*background: #edf8ff !important;*/
    border-bottom:1px solid #ededed;
}
.bg-dark{background: #244157  ;}
.sec-input-icon svg {
    position: absolute;
    top: 50%;
    left: 12px;
    z-index: 100;
    height: 14px;
    fill: #a6bac5;
    transform: translateY(-7px);
}
.sec-input-icon-lock svg {
    transform: translateY(-8px);
}
.sec_formicon {
    position: relative;
}

.d-flex{
    display: flex!important;
    padding: 0 11px ;
}
.flex-wrap {
    flex-wrap: wrap!important;
}

.sec-input-icon svg {
    position: absolute;
    top: 50%;
    left: 12px;
    z-index: 100;
    height: 14px;
    fill: #a6bac5;
    transform: translateY(-7px);
}
svg:not(:root) {
    overflow: hidden;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
.form-control-type-1,.form-control-type-1:focus{
    font-weight: 400 !important;
    padding: 20px 35px;
  border-radius: 5px !important;
  font-family: segoe UI, sans-serif;
  border-color:#ccd6db;
  color:#647f8b
  }

  .form-control-type-2,.form-control{
    font-weight: 400 !important;
    font-family: segoe UI, sans-serif;
    border-color: #ccd6db;
    color: #525252;
  }

  .form-control:focus,
  .form-control-type-1:focus,
  .form-control-type-2:focus{
    box-shadow:none;
  }

  select.form-control-type-1{
   padding: 0 30px;
   height: 42px;
  }
  .breadcrumb{
      background: none;
      font-size: small;
      margin-bottom: 0px;
      padding-bottom: 0px;
  }
  #main_nav  .icone-for-dark .svg-icon path{
        fill:#f5f6f7;
  }
  #main_nav .sec-nav-icone>svg{
    height:20px;
  }
  #main_nav li>a{
      padding: 15px 8px;
  }
  /*.svg-icon {
    width: 1em;
    height: 1em;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }

  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }*/
  /********************************************************
  * HOME TOP NAV-BAR
  *********************************************************/
  .top-nav-tabs{
    background:#f7fafc;
    border-bottom:1px solid #e5eff5;
    margin-top:-2px;
    min-height:127px;
    margin-bottom:30px;
}
#sec_nav_tabs{
    margin-top:0px;
}
.sec_nav_tabs>li>a:hover{
    background:none;
    border-color:#f7fafc;
    color:#3367d6
}
.sec_nav_tabs>li>a:hover svg{
  fill:#3367d6
}
.sec_nav_tabs>li>a,.sec_nav_tabs>li>a:active{
  color:#5b5a61;
  font-size:small;
 }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
.sec_nav_tabs>li.active>a:hover,
.sec_nav_tabs>li.active>a{
  border-color: #e5eff5;
  border-bottom-width:0px !important;
}

.sec_nav_tabs>li.active>a .sec-tabs-icon >svg.svg-icon-l path{
    fill:#000;
}
.sec-tabs-icon>svg{
  height:25px
}
@media screen and (max-width: 767px) {
  .tabs-info{display:none;}
  .sec_nav_tabs>li.active>a{
  border-color: #e5eff5;
  /*margin-bottom:10px;*/
  border-width:1px !important;
  border-radius:5px;
}
}
.nav-tabs-cover{
  width:100%;
  overflow-x:auto;
  overflow-y:hidden;
}
/*
* FIN TOP-NAV-BAR
/********************************************************************************
/********************************************************************************
*DASHBORAD
*********************************************************************************/
.timeline-date {
    font-size: .95rem;
    color: #686f76;
}


/*********************************************************************************
* MENU PLUS DASHBOARD
**********************************************************************************/
.mb-4 {
    margin-bottom: 24px!important;
}
.plus_menu:hover{
    text-decoration:none;
}
.plus_menu{
    position:absolute;
    margin-top:-10px;
    right:0px;
    cursor:pointer;
    color:#777777;
}

.plus_menu_cover .dropdown-menu{

    position: absolute;
    margin:10px;
    margin-right:-10px;
    /*transform: translate3d(1367px, 257px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;*/
}
.dropdown .sec-nav{
    padding:5px 10px;
}
.dropdown .sec-nav li{
    list-style-type:none;

}

.dropdown .sec-nav li a{
    display:block;
    color:#444444;
    padding:5px 10px;
}
.dropdown .sec-nav li a:hover{
   background:#f7fafc;
   color:#0366d6;
   text-decoration:none;
}
Mediaa-circle img{
    border-radius:50%;
    border:1px solid #f1f2f3;
}
.sec-nav .separator{
    padding:2px 0px;
    border-bottom: 1px solid #ededed;
}
/********************************************************************
*  PROFIL USER
*********************************************************************/
.slime_nav{margin:auto;}
.slime_nav li>a{
    padding:8px 15px;
    font-size:14px;
    color:#454545;
   }
   .profil_card{
    border-radius:35%/100%;
    padding:8px;
    margin-bottom:10px;
    border-left:2px solid #2196f3;
    max-width: 200px;
}
.profil_img, .profil_userinfo{
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.profil_img{
    height:50px;
width:50px ;

overflow:hidden;
}
.profil_img>img{
    height:50px;
    border-radius:100%;
}
.profil_userinfo a{
    font-size:75%;
    color:inherit;
    font-size:13px;
    text-decoration:none;

    font-weight:bold;
}
.profil_linksm{
    font-size:small;
}
.profil_table{
    width:100%;
    border:1px
}

/***************************************************************
* CONFIGURATION GENERALE
* DIALOGE
****************************************************************/
.modal-footer{
    border-top: 0px solid #ffffff;
}
.modal-header{
    border-bottom: 0px solid #ffffff;
}
.modal-footer button.btn{
    width: 49%;
}
